<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>区分要素を用いたテンプレート</title>
    <!-- 見出しゴシック -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <!-- 本文 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <div class="container">
        <header>
            <h1>ページの見出し</h1>
            <nav>
                <ul>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h2>セクションの見出し</h2>
                <article>
                    <h3>記事の見出し</h3>
                    <p>記事の内容</p>
                </article>
                <article>
                    <h3>記事の見出し</h3>
                    <p>記事の内容</p>
                </article>
            </section>
        </main>
        <aside>
            <ul>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>
        </aside>
        <footer>
            <p>copyright</p>
        </footer>
    </div>
</body>
</html>

<!-- CSS用>
    　@charset "utf-8";html {font-size: 16px;}

<!-- 見出し用 -->
font-family: 'Kosugi Maru', sans-serif;

<!-- 本文用 -->
font-family: 'Shippori Mincho B1', serif;
